html{
    font-size: 62.5%;
}


body{
    background-color: transparent;
}

.chat_icon{
    position: fixed;
    right: 5rem;
    bottom: 1rem;
    width: 6rem;
    z-index: 1000;
    cursor: pointer;
}

.chatbot-box{
    position: fixed;
    right: 3rem;
    bottom: 8rem;
    background: linear-gradient(to bottom, #72a0c1 5%, #a1caf1 20%);
    width: 18rem;
    height: 50vh;
    border-radius: 1.5rem;
    padding: 3rem;
    font-size: 5.6rem;
    box-shadow: 0 0 1.1rem rgba(0,0,0,0.9);
    z-index: 100000;
    transition: all 0.3s ease-out;
    transform: scaleY(0);
    transform-origin: bottom;
    border: 0.5rem solid  white;
}
.chatbot-box.active{
    transform: scaleY(1);
}
#chatList{
    height: calc(45vh - 3.5rem);
    overflow-x: auto;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width:0;
}
#chatList::-webkit-scrollbar{
   display: none;   
}
#chatList ul{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    max-height: 100%;
}

#chatList ul li.admin-message{
    background-color: black;
    color: white;
    padding: 1rem  2rem;
    border-radius: 0 2rem  2rem 2rem;
    margin: 1.5rem 25% 1.5rem 0.5rem;
    text-transform: capitalize;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.3);
}
#chatList ul li.client-message{
    background-color: #000080;
    color: #fff;
    padding: 1rem  2rem;
    border-radius: 2rem 0 2rem 2rem;
    margin: 1.5rem 0.5rem 1.5rem 0%;
    text-transform: capitalize;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.3);
}
.message-box-wrap{
    position: relative;
    margin-top: 1rem;
}
.message-box input[type="text"],
.message-box select{
    height: 2.5rem;
    padding: 0.2rem;
    line-height: 4.5rem;
    width: calc(100% - 4.5rem);
    border-radius: 1rem;
    border: 0.1rem solid #bcb3b3;
}
.message-box button{
    width: 7rem;
    height: 4rem;
    padding: 1rem;
    line-height: 2rem;
    border-radius: 1rem;
    border: 0.1rem solid #bcb3b3;
}
#send{
    height: 3rem;
    width: 2.8rem;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    border-radius: 50%;
    background-color: #082567;
    border: 0 !important;
    outline: 0 !important;
    pointer-events:none;
}
.admin-client-message-wrap,
#submit_info_form{
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}